<!--The content below is only a placeholder and can be replaced.-->

<div class="form-group">
  <div class="col-sm-4">
    <input class="form-control" [(ngModel)]="firstInputNumber" placeholder="first number">
    <hr>

    <input class="form-control" [(ngModel)]="secondInputNumber" placeholder="second number">
    <hr>

    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="onCalculateButtonClick()">Calculate</button>
    </div>
    <div class="col-sm-5">
      <div class="lead">{{result}}</div>
    </div>
  </div>

</div>
